<h3>Editar paciente </h3>
<h3><%=  t('.title') %></h3>

<!DOCTYPE html>

<html>
<head>

</head>

<body>

 <header>
 <%= render 'shared/sidebar' %>

     <h2>Crear nuevo paciente</h2>
  </header>

  <main>
    <h3>Datos filiales</h3>
    <%= form_with(model: @patient, local: true) do |form| %>
      <%= @patient.errors.full_messages.each do |error| %>
      <div>
        <%= error %>
      </div>
      <% end %>

      <div class="field">
        <%= form.label :name, "Nombre:" %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :lastname, "Apellido:" %>
        <%= form.text_field :lastname %>
      </div>

      <div class="field">
        <%= form.label :dni, "DNI:" %>
        <%= form.number_field :dni %>

      <div class="field">
        <%= form.label :gender, "Género:" %>
        <%= form.select :gender, ["Masculino", "Femenino", "No binario", "Otro"] %>
      </div>

       <div class="field">
        <%= form.label :birth_date, "Fecha de nacimiento:" %>
        <%= form.date_select :birth_date %>
      </div>
    <h3>Datos de contacto</h3>
      <div class="field">
        <%= form.label :address, "Dirección:" %>
        <%= form.text_area :address %>
      </div>

      <div class="field">
        <% form.label :phone, "Numero de telefono" %>
        <% form.number_field :phone %>
      </div>


    <h3>Composicion familiar</h3>

      <div class="field">
        <% form.label :house, "Vivienda" %>
        <%= form.select :house, ["Casa", "Departamento", "Villa", "Calle"] %>


    <h3>Habitos</h3>
    <h3>Antecedentes familiares</h3>
    <h3>Antecedentes personales</h3>
      <div class="actions">
        <%= form.submit "Confirmar cambios" %>
      </div>
    <% end %>
  </main>

  <footer>

  </footer>
</body>
</html>
