<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <header>
    <%= render 'shared/sidebar' %>
    
    <h2>Mis pacientes</h2>
  </header>
 
  <main>

    <%= form_with(url: "/patients", method: "get") do %>
      <%= label_tag(:q, "Buscar por nombre:") %>
      <%= text_field_tag(:q, params[:q]) %>
      <%= submit_tag("Buscar") %>
    <% end %>
    
    

    <table>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
      </tr>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= link_to patient.name, patient_path(patient) %></td>
          <td><%= patient.lastname %></td>
          <td><%= patient.dni %></td>
        </tr>
      <% end %>
    </table>

    <!-- Botón para crear un nuevo paciente -->
    <%= link_to 'Crear nuevo paciente', new_patient_path, class: 'new-patient' %>

  </main>

  <footer>
    <!-- Aquí puedes agregar un pie de página si lo necesitas -->
  </footer>
</body>
</html>
