 <h3>Consultas</h3>
<% @consult.each do |consult| %>
  <p><%= consult.description %></p>
<% end %>

<%= form_with(model: [ @patient, Consult.new ]) do |form| %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
