<h2>Consulta del Paciente <%= @consult.patient.name %></h2>

<p>
  <strong>Descripción:</strong>
  <%= @consult.description %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @consult.created_at.to_date %>
</p>

<%= link_to 'Editar', edit_patient_consult_path(@consult.patient, @consult) %> |

<%= link_to 'Eliminar', patient_consult_path(@consult.patient, @consult), method: :delete, data: { confirm: '¿Estás seguro?' } %>

<%
=begin%>
 <%= link_to 'Eliminar', destroy_patient_consult_path(@consult.patient), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
} %> | 
<%
=end%>
<%= link_to 'Volver', patient_consults_path(@consult.patient) %>
