<h2>Consulta del Paciente <%= @consult.patient.name %></h2>

<p>
  <strong>Descripción:</strong>
  <%= @consult.description %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @consult.created_at.to_date %>
</p>

<%= form_with(model: [@consult.patient, @consult], local: true) do |form| %>
  <div class="actions">
    <%= form.submit "Actualizar", class: "btn btn-primary" %>
  </div>
<% end %>

<p>
  <%= link_to "Editar paciente", edit_patient_consult_path(@consult.patient, @consult), class: "btn btn-primary" %>
</p>

<%= form_with(model: [@consult.patient, @consult], method: :delete, local: true, data: { controller: 'destroy', action: 'click->destroy#delete' }) do |form| %>
  <%= form.button 'Eliminar', class: 'btn btn-danger', data: { delete_url: patient_consult_path(@consult.patient, @consult) } %>
<% end %>

<%= link_to 'Volver', patient_consults_path(@consult.patient) %>
